@charset "utf-8";

#loader {
  background-position: 0px 0px;
  width: 100%;
  height: 20px;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, rgba(1,254,197,0.1), rgba(1,254,197,0.8));
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 0px 6px;
  transition: background-size 200ms ease, opacity 500ms ease 750ms,
              background-color 500ms ease;
}
#loader[complete="100"] {
  background-size: 100% 6px;
  background-color: rgba(1,254,197,0.8);
  height: 4px !important;
  opacity: 0;
}
#loader:not([complete="100"]):not([complete="0"])[complete]:hover:after {
  display: block;
  content: attr(complete) "% updated...";
  width: 100%;
  text-align: center;
  color: rgb(70,200,250);
}
.container {
  width: 960px;
  padding: 0 20px;
}
.avatar {
  border-radius: 8%;
  border: 2px solid #fff;
  box-shadow: 1px 1px 2px #666;
  height: 48px;
  width: 48px;
}
.component {
  min-width: 250px;
}
.badge[value=""] {
  display: inline-block !important;
  min-width: 28px;
  min-height: 18px;
  background-image: radial-gradient(circle 8px at 8px 50%, white 0%, white 4px,
                                    rgba(255,255,255,0.3) 6px, transparent 8px);
  animation: loading 1s linear infinite alternate;
  margin-top: 2px;
}
.badge:not([delta="0"]):not([delta="NaN"])[delta]:after {
  content: "+" attr(delta);
  color: green;
  position: absolute;
  padding-left: 10px;
}
tbody:not([sorted]) .badge:not([delta="0"]):not([delta="NaN"])[delta-type="inc"][delta] {
  background-color: green;
}
tbody:not([sorted]) .badge:not([delta="0"]):not([delta="NaN"])[delta-type="dec"][delta] {
  background-color: red;
}
tbody[sorted] .badge:not([delta="0"]):not([delta="NaN"])[delta-type="dec"][delta] {
  animation: fade-red 20s ease 0s 1;
}
tbody[sorted] .badge:not([delta="0"]):not([delta="NaN"])[delta-type="inc"][delta] {
  animation: fade-green 20s ease 0s 1;
}
tbody[sorted] .badge:not([delta="0"]):not([delta="NaN"])[delta]:after {
  animation: fade-out 20s ease 0s 1;
  visibility: collapse;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
.badge:not([delta="0"]):not([delta="NaN"])[delta-type="inc"][delta]:after {
  content: "+" attr(delta);
  color: green;
}
.badge:not([delta="0"]):not([delta="NaN"])[delta-type="dec"][delta]:after {
  content: attr(delta);
  color: red;
}
@keyframes fade-out {
  90% {
    opacity: 1;
    visibility: visible;
  }
  99.99% {
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: collapse;
  }
}
@keyframes fade-red {
  from {
    background-color: red;
  }
  90% {
    background-color: red;
  }
  to {
    background-color: rgb(153, 153, 153);
  }
}
@keyframes fade-green {
  from {
    background-color: green;
  }
  90% {
    background-color: green;
  }
  to {
    background-color: rgb(153, 153, 153);
  }
}
@keyframes loading {
  to {
    background-position: 12px;
  }
}
h1 { margin: 5rem auto 3rem; }
h1, #list th, #memo {
  text-align: center;
}
